*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
}
.container{
    width: 450px;
    min-height: 300px;
    padding: 20px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: beige;
}
h2 {
    color: black;
    text-align: center;
    padding: 15PX;
}
input[type = "text"]{
    width: 100%;
    padding: 7px 10px;
}

.btn {
    margin: 10px ;
     background-color: pink;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     margin-left: 30px;
     cursor: pointer;
     outline: none;
 }
 .btn:hover{
    background-color: white;
    color: black;
}
.bang {
    display: none;
    width: 450px;
    min-height: 300px;
    padding: 20px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: beige;
}
table {
    width: 100%;
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid  green;
  }
  th, td {
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: yellow;
  }
  tr:nth-child(even) {
    background-color: white;
  }
 
  .esc {
   display: block;
   margin: 0 auto;
     background-color: pink;
    padding: 10px 20px ;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     outline: none;
     margin-top: 10px;
 }
 .esc:hover{
    background-color: white;
    color: black;
}
